esb/src/main/resources/wsdl/ddc/eDocumentService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions
    xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://cmp.vba.va.gov/external/eDocumentService/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    targetNamespace="http://cmp.vba.va.gov/external/eDocumentService/" name="eDocumentService">
<wsp:UsingPolicy wssutil:Required="true"/>
<wsp:Policy wssutil:Id="Mtom.xml">
    <ns0:OptimizedMimeSerialization
        xmlns:ns0="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
</wsp:Policy>
<wsp:UsingPolicy wssutil:Required="true"/>
<wsp:Policy wssutil:Id="Mtom.xml">
    <ns1:OptimizedMimeSerialization
        xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
</wsp:Policy>
<types>
    <xsd:schema>
        <xsd:import namespace="http://cmp.vba.va.gov/external/eDocumentService/" schemaLocation="xsd1.xsd"/>
    </xsd:schema>
    <xsd:schema>
        <xsd:import namespace="http://cmp.vba.va.gov/cmp" schemaLocation="xsd2.xsd"/>
    </xsd:schema>
</types>

<message name="DocumentServiceException">
<part xmlns:ns2="http://cmp.vba.va.gov/cmp" name="fault" element="ns2:faultDetailBean"/>
</message>

<message name="uploadFormDocument">
<part name="parameters" element="tns:uploadFormDocument"/>
</message>

<message name="uploadFormDocumentResponse">
<part name="parameters" element="tns:uploadFormDocumentResponse"/>
</message>

<message name="getDocumentStatus">
<part name="parameters" element="tns:getDocumentStatus"/>
</message>

<message name="getDocumentStatusResponse">
<part name="parameters" element="tns:getDocumentStatusResponse"/>
</message>

<message name="DocumentDataValidationException">
<part name="fault" element="tns:dataValidationFaultDetailBean"/>
</message>

<portType name="eDocumentService">

<operation name="uploadFormDocument">
<input message="tns:uploadFormDocument"/>
<output message="tns:uploadFormDocumentResponse"/>
<fault message="tns:DocumentDataValidationException" name="DocumentDataValidationException"/>
<fault message="tns:DocumentServiceException" name="DocumentServiceException"/>
</operation>

<operation name="getDocumentStatus">
<input message="tns:getDocumentStatus"/>
<output message="tns:getDocumentStatusResponse"/>
<fault message="tns:DocumentServiceException" name="DocumentServiceException"/>
</operation>

</portType>

<binding name="eDocumentServiceSOAPBinding" type="tns:eDocumentService">
<!-- <wsp:PolicyReference URI="#Mtom.xml"/> -->
<!-- <wsp:PolicyReference URI="#Mtom.xml"/> -->
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>

<operation name="uploadFormDocument">
<soap:operation soapAction="http://cmp.vba.va.gov/external/eDocumentService/uploadFormDocument"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DocumentDataValidationException">
<soap:fault name="DocumentDataValidationException" use="literal"/>
</fault>
<fault name="DocumentServiceException">
<soap:fault name="DocumentServiceException" use="literal"/>
</fault>
</operation>

<operation name="getDocumentStatus">
<soap:operation soapAction="http://cmp.vba.va.gov/external/eDocumentService/getDocumentStatus"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DocumentServiceException">
<soap:fault name="DocumentServiceException" use="literal"/>
</fault>
</operation>

</binding>

<service name="eDocumentService">
<port name="eDocumentServiceSOAP" binding="tns:eDocumentServiceSOAPBinding">
<soap:address location="https://cmp.vba.va.gov/eDocumentService"/>
</port>
</service>

</definitions>